<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="addCategory(categoryForm)" #categoryForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('new-category-sidebar')">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Category</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="form-group">
                        <label class="form-label" for="email">Category</label>
                        <input class="form-control" id="email" type="text" name="email" aria-describedby="email"
                            required placeholder="Add Category" [(ngModel)]="category" #categoryRef="ngModel"
                            [class.error]="categoryForm.submitted && categoryRef.invalid" />

                        <span *ngIf="categoryForm.submitted && categoryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="categoryRef.errors.required">This field
                                is
                                required!</small>
                        </span>
                    </div>
                    <div class="form-group" *ngIf="currentUser.role===1">
                        <label class="form-label">Select Country</label>
                        <ng-select [(ngModel)]="selectedCountry" name="countryList" #countryRef="ngModel"
                            [class.error]="categoryForm.submitted && countryRef.invalid" required>
                            <ng-option *ngFor="let item of countryList" [value]="item.countryCode">{{item.name}}
                            </ng-option>
                        </ng-select>
                        <span *ngIf="categoryForm.submitted && countryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="countryRef.errors.required">This field is
                                required!</small>
                        </span>
                    </div>
                    <!-- <div class="form-group">
                        <label class="form-label">Select Country</label>
                        <select [(ngModel)]="selectedCountry" name="countryList" #countryRef="ngModel"
                            class="form-control" [class.error]="categoryForm.submitted && countryRef.invalid" required>

                            <option value='' disabled>Select Country</option>
                            <option *ngFor="let item of countryList" value={{item.countryCode}}>
                                {{item.name}} - {{item.countryCode}}
                            </option>
                        </select>
                        <span *ngIf="categoryForm.submitted && countryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="countryRef.errors.required">This field
                                is
                                required!</small>
                        </span>

                    </div> -->
                    <button [disabled]="loading" type="submit" class="btn btn-primary mr-1" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit
                    </button>
                    <button type="reset" class="btn btn-outline-secondary"
                        (click)="toggleSidebar('new-category-sidebar')" rippleEffect>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>