<div class="content-wrapper">
    <div class="content-body">
        <!-- category edit start -->
        <section class="app-user-edit">
            <ng-container>
                <div class="card">
                    <div class="card-body">
                        <div>
                            <form class="form-validate" (ngSubmit)="editcategory(editCategoryForm,row._id)"
                                #editCategoryForm="ngForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label" for="title">Title</label>
                                            <input type="text" class="form-control dt-full-name" id="title"
                                                placeholder="User Name" name="title" [(ngModel)]="title"
                                                [class.error]="editCategoryForm.submitted && titleRef.invalid"
                                                #titleRef="ngModel" required aria-describedby="title" />
                                            <span *ngIf="editCategoryForm.submitted && titleRef.invalid"
                                                class="invalid-form">
                                                <small class="form-text text-danger"
                                                    *ngIf="titleRef.errors.required">This field is
                                                    required!</small>
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                                    <button type="submit" class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                                        rippleEffect>
                                        Save Changes
                                    </button>
                                    <button type="button" routerLink="/category" class="btn btn-outline-secondary"
                                        rippleEffect>Cancel
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </ng-container>
        </section>
        <!-- Category edit ends -->
    </div>
</div>