<!-- New category list code -->

<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- Admin List -->
        <section class="users-list-wrapper">
            <div class="card">
                <div class="row">
                    <div class="col-md-3 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center">Show
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label>
                        </div>
                    </div>
                    <div class="col-md-5 col-12">
                        <div class="d-flex justify-content-between align-items-center ml-1">
                            <ul ngbNav #nav="ngbNav" class="nav nav-pills mt-1">
                                <li ngbNavItem (click)="getBrand(1)">
                                    <a ngbNavLink class="d-flex align-items-center"><span>All
                                            Brand</span></a>

                                </li>
                                <li ngbNavItem (click)="getBrand(0)">
                                    <a ngbNavLink class="d-flex align-items-center">
                                        <span>Request</span></a>

                                </li>
                                <li ngbNavItem (click)="getBrand(2)">
                                    <a ngbNavLink class="d-flex align-items-center"><span>Reject</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div *ngIf="this.currentUser.role == 1"
                        class="col-md-4 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 mr-1 ml-md-0">Select Country
                            </label>
                            <ng-select [(ngModel)]="selectedCountry" name="countryList" style="width: 200px;"
                                #countryRef="ngModel" id="country" (change)="getCountry()">
                                <ng-option *ngFor="let item of countryList" [value]="item.countryCode">
                                    {{item.name}}
                                </ng-option>
                                <ng-option value="Other">Other</ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>


                <ngx-datatable [rows]="rows" [rowHeight]="50" class="bootstrap core-bootstrap" [limit]="selectedOption"
                    [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true">

                    <ngx-datatable-column name="BrandLogo" prop="brandLogo" [width]="200">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Brand Name" prop="brandName" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Seller Name" prop="seller" [width]="200">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <p class="datatablecolumn">{{row.seller[0].username}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Trade Mark AppNo" prop="trademarkAppNo" [width]="200">
                    </ngx-datatable-column>
                    <ngx-datatable-column name="TradeMark Class" prop="trademarkClass" [width]="200">
                    </ngx-datatable-column>

                    <ngx-datatable-column name="Actions" [width]="50" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <div ngbDropdown container="body">
                                <button routerLink="/brand/brand-view//{{row._id }}"
                                    class="btn btn-primary btn-sm">View</button>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
        <!--/ Admin List -->
    </div>

    <!-- New Admin Sidebar -->
    <!-- <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="new-subCategory-sidebar"
        overlayClass="modal-backdrop">
        <app-menu-sub-category-sidebar (getData)="getData()"></app-menu-sub-category-sidebar>
    </core-sidebar> -->
    <!--/ New Admin Sidebar -->
</div>