<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- User List -->
        <section class="users-list-wrapper">

            <div class="card">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="d-flex justify-content-between align-items-center m-1">
                            <label class="d-flex align-items-center"
                            >Show
                                <select class="form-control mx-25" [(ngModel)]="selectedOption">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                entries</label
                            >
                        </div>
                    </div>
                    <div class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end">
                        <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0">
                            <label class="d-flex align-items-center ml-1 ml-md-0 mb-0"
                            >Search:<input
                                    [(ngModel)]="searchValue"
                                    name="searchValue"
                                    type="search"
                                    class="form-control ml-25"
                                    (keyup)="filterUpdate($event)"
                            /></label>
                            <form (ngSubmit)="addCountry(newCountryForm)" #newCountryForm="ngForm" class="d-flex align-items-center">
                                <div class="ml-2">
                                    <mat-select-country appearance="outline"
                                                        [(ngModel)]="country"
                                                        #countryRef="ngModel"
                                                        name="country" required>
                                    </mat-select-country>
                                    <span *ngIf="newCountryForm.submitted && countryRef.invalid" class="invalid-form">
                                  <small class="form-text text-danger" *ngIf="countryRef.errors.required">This field is required!</small>
                                </span>
                                </div>
                                <button type="submit" class="btn btn-primary ml-1" [disabled]="!country">
                                    <i data-feather="plus" class="d-sm-none d-inline-block mr-0 mr-sm-1"></i
                                    ><span class="d-none d-sm-inline-block">Add Country</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <ngx-datatable
                        [rows]="rows"
                        [rowHeight]="50"
                        class="bootstrap core-bootstrap"
                        [limit]="selectedOption"
                        [columnMode]="ColumnMode.force"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [scrollbarH]="true"
                >
                    <ngx-datatable-column name="Status" [width]="50">
                        <ng-template ngx-datatable-cell-template let-row="row" >
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch{{row._id}}" [checked]="row.status"  (change) ="checkStatus(row,$event)"  />
                                <label class="custom-control-label" for="customSwitch{{row._id}}">
                                    <span class="switch-icon-left"><i data-feather="check"></i></span>
                                    <span class="switch-icon-right"><i data-feather="x"></i></span>
                                </label>
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Country" prop="name" [width]="200"></ngx-datatable-column>
                    <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
                        <ng-template ngx-datatable-cell-template let-row="row">
                            <button type="button" class="btn icon-btn btn-sm hide-arrow bg-light-danger" rippleEffect
                                    (click)="deleteCountry()">
                                <span [data-feather]="'trash'" [size]="16"
                                      [class]="'cursor-pointer text-danger'">Delete</span>
                            </button>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </section>
        <!--/ User List -->
    </div>
</div>
