<div class="slideout-content">
    <!-- Modal to add new user starts-->
    <div class="modalsd modal-slide-in sdfade new-user-modal" id="modals-slide-in">
        <div class="modal-dialog">
            <form class="add-new-user modal-content pt-0" (ngSubmit)="addProductType(productTypeForm)"
                #productTypeForm="ngForm">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="toggleSidebar('new-productType-sidebar')">
                    ×
                </button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">Add Product Type</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="form-group">
                        <label class="form-label">Select Country</label>
                        <ng-select [(ngModel)]="selectedCountry" name="countryList" #countryRef="ngModel"
                            (change)="getMenuCategory()" [class.error]="productTypeForm.submitted && countryRef.invalid"
                            required>
                            <ng-option *ngFor="let item of countryList" value={{item.countryCode}}>{{item.name}} -
                                {{item.countryCode}}
                            </ng-option>
                        </ng-select>
                        <span *ngIf="productTypeForm.submitted && countryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="countryRef.errors.required">This field is
                                required!</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Select Menu Category</label>
                        <ng-select [(ngModel)]="selectedMenu" name="menuList" #menuCategoryRef="ngModel"
                            (change)="getMenuSubCtaegory()"
                            [class.error]="productTypeForm.submitted && menuCategoryRef.invalid" required>
                            <ng-option *ngFor="let item of menulist" [value]="item._id">{{item.title}}
                            </ng-option>
                        </ng-select>
                        <span *ngIf="productTypeForm.submitted && menuCategoryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="menuCategoryRef.errors.required">This field is
                                required!</small>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Select Menu Sub Category</label>
                        <ng-select [(ngModel)]="selectedSubMenu" name="subMenulist" #menuSubCategoryRef="ngModel"
                            (change)="getSubMenuCategoryId()"
                            [class.error]="productTypeForm.submitted && menuSubCategoryRef.invalid" required>
                            <ng-option *ngFor="let item of subMenulist" [value]="item._id">{{item.title}}
                            </ng-option>
                        </ng-select>
                        <span *ngIf="productTypeForm.submitted && menuSubCategoryRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="menuSubCategoryRef.errors.required">This field
                                is
                                required!</small>
                        </span>
                    </div>

                    <div class="form-group">
                        <label class="form-label" for="productTitle">Product Title</label>
                        <input class="form-control" id="productTitle" type="text" name="productTitle"
                            aria-describedby="productTitle" placeholder="Add Sub title" [(ngModel)]="title"
                            [class.error]="productTypeForm.submitted && titleRef.invalid" #titleRef="ngModel"
                            #emailRef="ngModel" required />
                        <span *ngIf="productTypeForm.submitted && titleRef.invalid" class="invalid-form">
                            <small class="form-text text-danger" *ngIf="titleRef.errors.required">This field
                                is
                                required!</small>
                        </span>

                    </div>
                    <button [disabled]="loading" type="submit" class="btn btn-primary mr-1" rippleEffect>
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit
                    </button>
                    <button type="reset" class="btn btn-outline-secondary"
                        (click)="toggleSidebar('new-productType-sidebar')" rippleEffect>
                        Cancel
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- Modal to add new user Ends-->
</div>